.hero {
  width: 100%;
  height: 150px;
  background-size: cover;
  background-position: center;

  /* mask to fade top & bottom
  -webkit-mask-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,1) 20%, rgba(0,0,0,1) 80%, rgba(0,0,0,0));
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  -webkit-mask-position: center;

  mask-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,1) 20%, rgba(0,0,0,1) 80%, rgba(0,0,0,0));
  mask-repeat: no-repeat;
  mask-size: 100% 100%;
  mask-position: center;
  */

  margin-bottom: 40px;  /* adds buffer below hero */
}


